################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/lab-4/.vs/lab-4/FileContentIndex/4c914af5-a02e-4f06-ac32-c470ef79f9e0.vsidx
