################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/lab-4/.vs/lab-4/FileContentIndex/4c914af5-a02e-4f06-ac32-c470ef79f9e0.vsidx
/lab-4/.vs/lab-4/FileContentIndex/6306517e-87ca-492f-875c-b0f0e98b5c3d.vsidx
/lab-4/.vs/lab-4/FileContentIndex/7c56fcb8-c3f8-4dd9-9c06-b410de7db182.vsidx
/lab-4/.vs/lab-4/FileContentIndex/7d90142e-2a72-43f3-bac7-3753cf8082a2.vsidx
/lab-4/.vs/lab-4/FileContentIndex/eed1fe85-8107-418c-b0f1-f4077eab93f0.vsidx
